<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/layouts/layout::plantilla">

<head>
    <title th:fragment="titulo">Modal</title>
</head>

<body>
        <div style="text-align: right">
                <button href="#myModal" type="button" class="btn btn-primary col-1" data-toggle="modal" data-target="#myModal">Nuevo</bu>
        </div>
    <!--MODAL-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--MODAL HEADER-->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Rol</h4>
                </div>

                <!--MODAL BODY-->
                <div class="modal-body">
                    <form action="/rol/agregar" method="post" class="offset-2">
                        <div class="form-group row">
                            <label class="col-1 offset-2">
                                <h3>Rol:</h3>
                            </label>
                            <input type="text" class="form-control col-4 " id="rol" name="nombreRol" autocomplete="off">
                        </div>

                        <div class="col-11 modal-footer">
                            <input type="submit" class="btn btn-success col-2 offset-2" value="Guardar">
                            <input class="btn btn-primary col-2" type="reset" value="Limpiar">
                            <a class="btn btn-danger col-2" href="/rol/index" role="button">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>