<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="menu_izquierdo">
  <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li><a class="ajax-link" href="index.html"></i><i class="glyphicon glyphicon-home"></i><span> Inicio</span></a>
                        </li>
                        <li><a class="ajax-link" href="usuarios.html"><i class="glyphicon glyphicon-th-large"></i><span>Usuarios</span></a>
                        </li>
                        <li><a class="ajax-link" href="clientes.html"><i class="glyphicon glyphicon-user"></i><span>Clientes</span></a>
                        </li>
                        <li><a class="ajax-link" href="ventas.html"><i class="glyphicon glyphicon-user"></i><span>Ventas</span></a>
                        </li>
                        <li><a class="ajax-link" href="productos.html"><i class="glyphicon glyphicon-briefcase"></i><span> Productos</span></a>
                        </li>
                        <li><a class="ajax-link" href="compras.html"><i class="glyphicon glyphicon-tag"></i><span> Compras</span></a>
                        </li>
                        <li><a class="ajax-link" href="categorias.html"><i class="glyphicon glyphicon-ok"></i><span> Categorias</span></a>
                        </li>
                        <li><a class="ajax-link" href="marcas.html"><i class="glyphicon glyphicon-tint"></i><span> Marcas</span></a>
                        </li>
                        <li><a class="ajax-link" href="bitacora.html"><i class="glyphicon glyphicon-th"></i><span> Bitacora</span></a>
                        </li>
                        <li><a class="ajax-link" href="inventario.html"><i class="glyphicon glyphicon-book"></i><span> Inventario</span></a>
                        </li>
                        <li><a class="ajax-link" href="roles.html"><i class="glyphicon glyphicon-wrench"></i><span> Roles</span></a>
                        </li>
                        <li><a href="login.html"><i class="glyphicon glyphicon-lock"></i><span> Inicio de sesion</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</div>

</body>
</html>