<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<div id="main-container">

		<table>
			<thead>
				<tr>
					<th>Descripción</th><th>Mes</th><th>Costo</th>
				</tr>
			</thead>

			<tr>
				<td>Agua</td><td>Enero</td><td>$ 3,000</td>
			</tr>
			<tr>
				<td>Luz</td><td>Febrero</td><td>$ 5,500</td>
			</tr>
			<tr>
				<td>Coche</td><td>Marzo</td><td>$ 10,100</td>
			</tr>
			<tr>
				<td>Internet</td><td>Abril</td><td>$ 450</td>
			</tr>
		</table>
	</div>

</body>
</html>